
*.pper
TC2/.Rproj.user/826EB75E/rmd-outputs
TC2/.Rproj.user/826EB75E/sources/prop/475867BE
TC2/.RData
TC2/.Rhistory
TC2/.Rproj.user/shared/notebooks/paths
TC2/.Rproj.user/shared/notebooks/patch-chunk-names
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/lock_file
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/DCA638EA-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/DC49E992-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/C07892AD-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/AECA0EBC-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/ABFA7E2-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/ABC7F55F-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/A0BCAAAA-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/9BCDF214-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/9B622BF8-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/7ACEE9EF-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/7ACEE9EF
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/6811CBE6-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/5C31B57B-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/5C31B57B
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/577703E3-contents
TC2/.Rproj.user/826EB75E/sources/s-D9909CBC/4EA80BC1-contents
TC2/.Rproj.user/826EB75E/sources/prop/INDEX
TC2/.Rproj.user/826EB75E/sources/prop/B1399E1D
TC2/.Rproj.user/826EB75E/sources/prop/B07C8724
TC2/.Rproj.user/826EB75E/sources/prop/7C02EBE0
TC2/.Rproj.user/826EB75E/sources/prop/5DF78EDE
TC2/.Rproj.user/826EB75E/sources/prop/5CF6754B
TC2/.Rproj.user/826EB75E/sources/prop/512EC3EC
TC2/.Rproj.user/826EB75E/sources/prop/3D00649D
TC2/.Rproj.user/826EB75E/sources/prop/37506F13
TC2/.Rproj.user/826EB75E/sources/prop/265CF9C8
TC2/.Rproj.user/826EB75E/sources/prop/10623201
TC2/.Rproj.user/826EB75E/saved_source_markers
TC2/.Rproj.user/shared/notebooks/paths
*.Rproj
TC2/.Rproj.user/shared/notebooks/paths
